<!--
<div class="col-md-11">
-->
	<div class="row">
	{{#with catalog}}
		<div class="col-md-5">
			{{name}}
		</div>
<!--		<div class="col-md-1">
			{{catalogId}}
		</div>
-->
		<div class="col-md-1">
			{{itemId}}
		</div>
		<div class="col-md-2" align="center" >
			{{orderDate}}
		</div>
		<div class="col-md-1">
			{{price}}
		</div>
		<div class="col-md-1">
			{{#bs-form formLayout="inline" action='addItem'}}
				{{bs-input type="text" size=5 value=qty }}
			{{/bs-form}}
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" {{action 'addItem'}}>
				Order
			</button>
		</div>

{{/with}}
		{{#if isComic}}
			<div class="col-md-1">
				{{input type="checkbox" name="reoccuring" checked=catalog.reoccuring}}
			</div>
		{{/if}}
	</div>


