
<h3>{{errorMesg}}</h3>
		<div class="form-group">
			{{input class="form-control" value=username placeholder="Username"}}
		</div>

		<div class="form-group">
			{{input class="form-control" value=password placeholder="Password" type="password"}}
		</div>

		<div class="form-group">
			{{input class="form-control" value=storename placeholder="Store Name"}}
		</div>

		<div class="form-group">
			{{input class="form-control" value=email placeholder="Email Address"}}
		</div>

		<button type="button" class="btn btn-default" 
			disabled={{isButtonDisabled}}
			{{action 'register'}}>Register Account
		</button>


